.App {
  text-align: center;
}

h2 {
  text-align: center;
}

.formHandle {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  padding-left:10px;
}
li {
  width:100%;
  border-bottom: 1px dotted black;
  line-height:2rem;
  cursor:pointer;
  text-align:center;
}